<div class="header">
  <h2>You are logged in as <%= current_user.username %></h2>
  <% if @failure_message %><h1 class="error"><%= @failure_message %></h1><% end %>
</div>

<div class="align-left">
  <h3>Owned Tasks:</h3>
  <form method="POST" action="/tasks/complete">
    <input type="hidden" id="hidden" name="_method" value="PATCH" />
    <% sorted_tasks = current_user.owned_tasks.sort_by { |owned_task| owned_task.due_date } %>
    <% any_displayed = false %>
    <% sorted_tasks.each do |task| %>
      <p>
      <% if !task.completed %>
        <input type="checkbox" name="task[<%= task.id %>]" onclick="this.form.submit();" />
        <a href="/tasks/<%= task.id %>"><%= task.short_description %>, Due:
          <%= task.due_date.month %>/<%= task.due_date.day %>/<%= task.due_date.year %></a>
          <% any_displayed = true %>
      <% end %>
    </p>
  <% end %>
  <% if !any_displayed %><p>None</p><% end %>
  </form>
</div>
<div class="align-left">
  <h3>Created Tasks:</h3>
  <% if current_user.created_tasks.count == 0 %><p>None</p><% else %>
  <% sorted_tasks = current_user.created_tasks.sort_by { |created_task| created_task.due_date } %>
  <% sorted_tasks.each do |task| %>
    <p><a href="/tasks/<%= task.id %>">
    <% if task.completed %><del><% end %>
    <%= task.short_description %>, Due:
        <%= task.due_date.month %>/<%= task.due_date.day %>/<%= task.due_date.year %>
    <% if task.completed %></del><% end %>
    </a></p>
  <% end %><% end %>
  <form method="GET" action='/tasks/new'>
    <input type="submit" value="New Task" />
  </form>
</div>
