<h1>Task #<%= @task.id %></h1>
<p><%= @task.short_description %></p>
<p><%= @task.long_description %></p>
<p>Due Date: <%= @task.due_date %></p>
<p>Owner: <%= @task.owner.name %></p>
<p>Created by: <%= @task.creator.name %></p>
<form method="GET" action="/tasks/<%= @task.id %>/edit">
  <input type="submit" value="Edit Task" />
</form>
<form method="POST" action="/tasks/<%= @task.id %>/delete">
  <input type="submit" value="Delete Task" />
</form>
<form method="GET" action="/tasks/users/index">
  <input type="submit" value="Back to Task List" />
</form>
