<h1><%= @user.name %>:</h1>
<div class="align-left"
<h2>Username: <%= @user.username %></h2>
<h2>Email: <%= @user.email %></h2>
<h2>Reports to: <%= @boss %></h2>
<form method="GET" action="/users/index">
  <input type="submit" value="Back to User List" />
</form>
<% if @current_user.is_administrator? %>
  <form method="GET" action="/users/<%= @user.id %>/edit">
    <input type="submit" value="Edit User" />
  </form>
  <form method="POST" action="/users/<%= @user.id %>/delete">
    <input type="submit" value="Delete User" />
  </form>
<% end %>
</div>
